// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yesterday, .today{
	padding: 10px;
	font-style:italic;
	background-color: #eee;
}
